<div class="container">

<p id="notice"><%= notice %></p>

<h1>Farms Love</h1>


<div class="row">
  <% @farms.each do |farm| %>
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-body">
          <div style="width: 100%;">
            <%= image_tag farm.image.url(), class: "img-responsive" %>
          </div>
          <br>
          <h1><%= farm.name %></h1>
          <h4>Address: <%= farm.address %><br><%= farm.city %>, <%= farm.state %> <%= farm.zip %></h4><br>
          <h4>Contact: <%= farm.phone_number %> | <%= farm.email %> </h4>
          <h4>Social: <%= farm.fb_url %> | <%= farm.instagram_url %> | <%= farm.website %> </h4>
          <br>

          <p><%= farm.owner %><strong></strong><%= farm.bio %></p>
          <p><strong>We Practice:</strong> <%= farm.practices_followed %></p>
          <hr>
          <%= link_to 'View Profile', farm %> | <%= link_to 'Edit', edit_farm_path(farm) %> | <%= link_to 'Destroy', farm, method: :delete, data: { confirm: 'Are you sure?' } %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
<br>

<%= link_to 'New Farm', new_farm_path %>

</div>

