<%= form_for(@box) do |f| %>
  <% if @box.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@box.errors.count, "error") %> prohibited this box from being saved:</h2>

      <ul>
      <% @box.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= simple_form_for(@box) do |f| %>

  <%= f.input :farm %>
  <%= f.input :name %>
  <%= f.input :contents %>
  <%= f.text_area :description %>

  <%= f.input :start_date %>
  <%= f.input :end_date %>
  <%= f.input :length_of_time, hint: "Length is in weeks of Share" %>

  <%= f.input :price, hint: "Price is per season" %>
  <%= f.input :size, hint: "Recommended household size" %>
  <%= f.input :weight, hint: "Expected weight of produce per week" %>

  <%= f.input :pickup_location, hint: "List the areas where your farm delivers" %>
  
  <%= f.button :submit %>

<% end %>
<% end %>
