<p id="notice"><%= notice %></p>

<section id="csasearch">
  <div class="container">
    <div class="row">
      <div class="col-md-10">
        <h1>Find a CSA!</h1>
        <h3>You can search shares in the area by different requests.</h3>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-md-10">
        <div class="form-group">
          <p>Search by Contents</p>
          <%= search_form_for @search do |f| %>
          <%= f.text_field :contents_cont, placeholder: "Content contains" %>
          <%= f.submit "Search for CSA", class: "btn btn-default" %>
          <% end %>
        </div>
        <div class="form-group">
           <p>Search by Price</p>
          <%= search_form_for @search do |f| %>
          <%= f.text_field :price_gteq, placeholder: "Price between" %>
          <%= f.text_field :price_lteq, placeholder: "and" %>
          <%= f.submit "Search for CSA", class: "btn btn-default" %>
          <% end %>
        </div>
        <div class="form-group">
           <p>Search by Pickup Locations</p>
          <%= search_form_for @search do |f| %>
          <%= f.text_field :pickup_location_cont, placeholder: "Enter a farmer market nearby" %>
          <%= f.submit "Search for CSA", class: "btn btn-default" %>
          <% end %>
        </div>
       </div>
    </div>
  </div>
</section>

<section id="csa-results">
    <% @boxes.each do |box| %>
    <div class="container box-listing">
    <div class="row">
      <div class="col-sm-8">
      <div class="farm-name">
        <h3><strong><%= box.farm.name %></strong></h3>
        <p><%= box.name %></p>
      </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <p><strong>Contains:</strong> <%= box.contents %></p>
        <p><strong>About:</strong> <%= box.description %></p>
      </div>
      <div class="col-sm-4">
        <p><strong>Share Starts:</strong> <%= box.start_date.strftime("%B %e, %Y") %></p> <p><strong>Share Ends:</strong> <%= box.end_date.strftime("%B %e, %Y") %></p>
        <p><strong>Total Weeks: <%= box.length_of_time %></strong></p>
        <p><strong>Feeds household size:</strong> <%= box.size %></p>
        <p><strong>Average produce weight:</strong> <%= box.weight %></p>

      </div>
      <div class="col-sm-4">
        <p><strong>Pickup Locations:</strong> <%= box.pickup_location %></p>
        <h3>$<%= box.price %></h3><br>
        
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
      <p class="pull-right"><%= link_to 'Show', box %> | <%= link_to 'Edit', edit_box_path(box) %> | <%= link_to 'Destroy', box, method: :delete, data: { confirm: 'Are you sure?' } %>  

        <%= form_tag('/add_to_cart') do %> 
        <%= submit_tag "Add To Favorite", class: "btn btn-info" %>
      </p>
        <% end %> 
    </div>
    </div>
  </div>
<% end %>
</section>

<br>

<%= link_to 'New Box', new_box_path %>
